
.patient-create-banner{
  background-color: #1A78C3;
  color: #ffffff;
}
.patient-view-heading{
  font-size: 1.5rem!important;
}
.text-small {
  font-size: 0.75rem;
}

.card-header{
  background-color: #e8eaf6 ;

}
