

<!-- Section: Team v.2 -->
<section class="team-section text-center my-5">

  <!-- Section heading -->
  <div class="patient-create-banner">
      <p class="patient-view-heading h1 mb-4 pb-3 pt-2 text-center">Perfil de Paciente &nbsp;<span class="fa fa-list-alt fa-2x" aria-hidden="true"></span></p>
    </div>
  <!-- Section description -->
  <p class="grey-text w-responsive mx-auto mb-5">En esta sección puede gestionar los datos de sus pacientes </p>

  <!-- Grid row -->
  <div class="row text-center">


      <!-- Grid column -->
      <div class="col-md-12 mb-md-0 mb-5">
          <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" class="rounded z-depth-1-half" alt="Sample avatar">
          </div>
          <h4 class=" dark-grey-text my-4 text-center ">Nombre: {{ service.resource?.data.nombre}} {{ service.resource?.data.primerApellido | uppercase}} {{ service.resource?.data.segundoApellido | uppercase}}</h4>
          <h4 class=" dark-grey-text my-4 text-center">Correo Electrónico:{{ service.resource?.data.correoElectrnico}}</h4>
          <h4 class=" dark-grey-text my-4 text-center">Telefono:{{ service.resource?.data.telefono}}</h4>
          <h4 class=" dark-grey-text my-4 text-center">Sexo:{{ service.resource?.data.wellSexo}}</h4>
          <h4 class=" dark-grey-text my-4 text-center">Direccion:{{ service.resource?.data.direccion}}</h4>

      </div>
      <!-- Grid column -->



  </div>
  <!-- Grid row -->

</section>
<!-- Section: Team v.2 -->

