
  <!--Projects section v.1-->
  <section>

      <!--Section heading-->
      <h2 class="text-center h1 py-5">
          <strong>Formularios</strong>
      </h2>

      <!--Section description-->
      <p class="grey-text pb-5 text-center">Escoja el el formulario del laboratorio que desea</p>

      <!--Grid row-->
      <div class="row text-center">

          <!--Grid column-->
          <div  class="col-lg-4 col-md-12 mb-4">

              <!--Featured image-->
              <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
                  <img src="https://mdbootstrap.com/img/Photos/Others/project4.jpg" class="img-fluid" alt="Sample project image">
                  <a  routerLink="formulario-labin">
                      <div class="mask rgba-white-slight"></div>
                  </a>
              </div>

              <!--Excerpt-->
              <div class="card-body mt-3">
                  <h4>
                      <strong>Laboratorios Labin</strong>
                  </h4>
                  <p class="grey-text">Formulario para laboratorios Labin
                  </p>
                  <a routerLink="formulario-labin" class="btn btn-indigo btn-sm  waves-light" mdbWavesEffect>
                      <i class="fa fa-clone left"></i> Ir a Formulario </a>
              </div>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4">

              <!--Featured image-->
              <div class="view overlay rounded z-depth-2  waves-light" mdbWavesEffect>
                  <img src="https://mdbootstrap.com/img/Photos/Others/project4.jpg" class="img-fluid" alt="Sample project image">
                  <a routerLink="formulario-solicitud-analisis">
                      <div class="mask rgba-white-slight"></div>
                  </a>
              </div>

              <!--Excerpt-->
              <div class="card-body mt-3">
                  <h4>
                      <strong>Laboratorios Paez</strong>
                  </h4>
                  <p class="grey-text">Formulario para laboratorios Paez
                  </p>
                  <a routerLink="formulario-solicitud-analisis" class="btn btn-indigo btn-sm  waves-light" mdbWavesEffect>
                      <i class="fa fa-clone left"></i> Ir al Formulario</a>
              </div>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4">

              <!--Featured image-->
              <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
                  <img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" class="img-fluid" alt="Sample project image">
                  <a>
                      <div class="mask rgba-white-slight"></div>
                  </a>
              </div>

              <!--Excerpt-->
              <div class="card-body mt-3">
                  <h4>
                      <strong>Title of the news</strong>
                  </h4>
                  <p class="grey-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
                      repudiandae.
                  </p>
                  <a class="btn btn-indigo btn-sm  waves-light" mdbWavesEffect>
                      <i class="fa fa-clone left"></i> View project</a>
              </div>

          </div>
          <!--Grid column-->

      </div>
      <!--Grid row-->

  </section>
  <!--/Projects section v.1-->

<!-- cards -->
