 <!--Intro Section-->
 <section class="view intro-2 rgba-gradient">
    <div class="full-bg-img mask">
        <div class="container flex-center">
            <div class="row flex-center pt-1 mt-1 w-100">
                <div class="col-md-6 text-center text-md-left margins">
                    <div class="white-text">
                        <h2 class="h1 h1-responsive wow fadeInLeft" data-wow-delay="0.3s">Formularios Médicos </h2>
                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae iste.</h6>
                            <br>
                            <a mdbBtn color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbWavesEffect>Conocer Más</a>
                            <a mdbBtn color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbWavesEffect>Solicite una Prueba Gratuita
                                <i class="fa fa-android left right" aria-hidden="true"></i>
                                <i class="fa fa-apple left" aria-hidden="true"></i>
                                <i class="fa fa-windows" aria-hidden="true"></i>
                            </a>
                    </div>
                </div>

                <div class="col-md-6 wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
                    <img src="../assets/images/iphone-admin.png" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>

<html lang="en" class="full-height"></html>
