/* You can add global styles to this file, and also import other style files */

.card-header-tabs{
  display: none;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  opacity: 1;
  pointer-events: fill;
}

.nav-tabs{
  background-color:#c5cae9;
}
