/* You can add global styles to this file, and also import other style files */

.card-header-tabs{
  display: none;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  opacity: 1;
  pointer-events: fill;
}

.nav-tabs{
  background-color:#dee2e6;
}
.formio-dialog-close{
  background-color:#3F51B5!important;
}

.well_paciente{
  padding-left: 15%;
  padding-right: 15%;
}

.table-condensed {
  margin-top: 50px;
  text-align: center;

}
