<mdb-navbar *ngIf="auth.authenticated" SideClass="navbar navbar-expand-md navbar-collapse navbar-dark indigo">
  <mdb-navbar-brand>
      <a class="navbar-brand" routerLink="home">Gp-forms</a>
  </mdb-navbar-brand>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a  *ngIf="auth.is.medico" class="nav-link waves-light" routerLink="formularios" mdbWavesEffect>Formularios</a>
          </li>
          <li class="nav-item " routerLinkActive="paciente" >
            <a *ngIf="auth.is.medico" class="nav-link" routerLink="paciente">Pacientes</a>
          </li>
          <li class="nav-item" routerLinkActive="reportes">
            <a *ngIf="auth.is.medico" class="nav-link" routerLink="reportes">Reportes</a>
          </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active" *ngIf="!auth.authenticated">
          <a class="nav-link" routerLink="/auth/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="auth.authenticated">
          <a class="nav-link" routerLink="home" (click)="auth.logout()"> Logout</a>
        </li>
      </ul>
  </links>
</mdb-navbar>

<mdb-navbar *ngIf="!auth.authenticated" SideClass="navbar navbar-expand-md navbar-collapse navbar-dark indigo">
  <mdb-navbar-brand>
      <a class="navbar-brand" routerLink="home" href="#">Gp-forms</a>
  </mdb-navbar-brand>
  <links>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" routerLink="/auth/login">Login</a>
        </li>
      </ul>
  </links>
</mdb-navbar>
